@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Ali-main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size:  100% 100%;
    background-repeat: no-repeat;
    background-image: url(./images/AAAA-i1.png);
}
.Ali-center{
    width: 85%;
}
.ALI_NAV{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    
}
.Ali-navbar{
    /* display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; */
    z-index: 1;
    
}
.Ali-saf{
    width: 76px;
    height: 43px;
    background: #FFFFFF;
    border-radius: 26.5px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.Ali-saf img:nth-child(1){
    padding-left: 5px;
}
.Ali-saf img:nth-child(2){
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20%;
}
.Ali-saf img:nth-child(2):hover{
    background-color: rgb(20, 18, 19);
    color: aqua;
}
.Ali-SAFEDD{
    display: flex;
    justify-content: center;
    position:absolute;
    top: 450px;
    right: 650px;
    width: 50%;
    height: 65vh;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 50px rgb(179, 179, 172);
}
.Ali-SAFEDD h1{
    font-family: 'Merriweather';
    font-weight: 700;
font-size: 39px;
line-height: 49px;
padding-top: 40px;
padding-left: 0px;
color: #000000;
}
.Ali-SAFEDD span{
    color:#F78065;
}
.Ali-SAFEDD p{
    font-weight: 500;
font-size: 20px;
line-height: 24px;
padding: 20px 0px 20px 0px;
color: #000000;
opacity: 0.6
}
.AAAl-but img{
    padding-right: 8px;
}
.AAAl-but button{
    color: #FFFFFF;
    background: #F78065;
    font-size: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 60px;
    border: none;
    cursor: pointer;
}
.AAAl-but button:hover{
    background-color: indianred;
    border-radius: 10%;
    color: darkorchid;

}
.Ali-sod{
    display: flex;
    justify-content: center;
    position: relative;
    top: 350px;
    padding: 40px 0px 70px;
}
.Ali-AA3{
    display: flex;
    justify-content: space-between;
}
.Ali-A{
    width: 33%;
}
.Ali-A h1{
    font-family: 'Merriweather';
    font-weight: 700;
font-size: 23px;
line-height: 30px;
padding: 20px 0px 10px;
color: #000000;
}
.Ali-A p{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #000000;

opacity: 0.5;
}
.Ali-A h2{
    font-weight: 700;
font-size: 18px;
line-height: 22px;  
color: #F78065;
padding: 10px 0px 20px;
}

.md-main{
    width: 100%;
}
.md-center{
    width: 85%;
    margin: auto;
}

.md-head h1{
    margin-top: 350px;
    margin-bottom: 112px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}
.md-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 260px;
   
}
.md-icon{
    width: 23%;
    height: 50vh;

}
.md-icon h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin: 50px 0px;
}
.md-icon p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}
.md-icon img:hover{
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 4px 4px;
}
.md-icon a{
   
    text-decoration: none;
    /* margin-top: 20%; */
    color: red;
    padding: 10px;
    border-radius: 10px;
 
}
.md-icon a:hover{
    color: green;
    background-color: lightgray;
}
.md-icon h3{
    margin-top: 20%;
    
}
.md-join{
    display: flex;
    justify-content: space-between;
}
.md-com{
    width: 25%;
}
.md-com h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}
.md-com p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    
    color: #000000;
    
    opacity: 0.5;
    margin-top: 30px;
    /* margin-bottom: 50px; */
}
.md-com button{
    padding: 10px 50px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 10px;
}
.md-com button:hover{
    background-color: lightslategray;
    border: 1px solid red;
    cursor: pointer;
    color: black;
    border: none;
 
 
}
.md-luci{
    width: 23%;
}
.md-luci img{
    width: 100%;
}
.md-luci h1{
    font-weight: 700;
    font-size: 24px;
    line-height:10px;
    padding: 10px 0px;
    margin: 20px 0px;
    color: #000000;
}
.md-luci h6{
    margin: 10px 0px;
    font-weight: 400;
    padding: 8px 0px;
    font-size: 14px;
    line-height: 10px;
    color: #3F3D56;
}
.md-luci a{
    text-decoration: none;

}
.md-luci h1:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.md-luci h6:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.md-luci h3:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.md-luci h3{
    margin: 40px 0px;
    color: red;
}

/* .shahrom */

.shahrom-container{
    margin-top: 100px;
}

.shahrom-center{
    width: 85%;
    margin: auto;
}
.shahrom-2{
    display: flex;
    justify-content: space-between;
    padding-bottom:100px;
}
.shahrom-1 h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
    margin: 60px 0px;

}
.shahrom-3 h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin: 30px 0px;
}
.shahrom-3 p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}
.shahrom-4{ 
   background: #F7F7F7;
}
.shahrom-5 h2{
    font-weight: 700;
font-size: 24px;
line-height: 30px;

color: #000000;
}
.shahrom-5 h1{
    font-weight: 700;
font-size: 48px;
line-height: 60px;

color: #000000;
}
.shahrom-11{
    display: flex;
    justify-content: space-between;
}
.sh-ul ul li a{
    text-decoration: none;
    opacity: 0.8;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #000000;
}
.sh-about ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #18216D;
    opacity: 0.8;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #000000;
    padding: 5px 20px;
   
}
.sh-ul ul li{
    list-style:none ;
}

.sh-ul ul li a:hover{
   background-color:grey;
   border-radius: 10px;
   color:blue;
}
.sh-about ul li a:hover{
   background-color:grey;
   border-radius: 10px  ;
   color: blue;
}
.sh-ul ul li{
    list-style:none ;
}
.sh-about ul li{
    list-style:none ;
}
.sh3 h1{
    padding: 10px;
    font-weight: 700;
   font-size: 18px;
   line-height: 23px;
   color: #000000;

}
.shahrom-11{
   padding-top :50px;
   padding-bottom: 20px;
}
.sh123{
   margin : 50px 0px;
}
.sha-1{
    display: flex;
}
.sh-about ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sha-1{
    padding-bottom: 50px;
}
.sh-2{
    width: 50%;
}
.sh-about{
    width: 50%;
}